<!DOCTYPE html>
<html>
    <h1>-------------------------------------VOCATIONALTEST-21----------------------------------------</h1>
        <form action='/responses' method='POST'>
            <input type='hidden' name='survey_id' value='<%=@survey.id%>'>
            <ul>
                <%@questions.each do |question|%>
                    <li><%=question.description %></li>
                    <td>
                        <%question.choices.each do |choice|%>
                            <input type='radio' name='<%=question.id%>' value='<%=choice.id%>' required> <%=choice.text%> 
                            <br/>
                        <%end%>
                        <input type='hidden' name='question_id[]' value='<%=question.id%>'>
                    </td>   
                <%end%>
            </ul>
            <p id = "aviso">
                    <b> -.Por favor,te recomendamos que revises bien las respuestas antes de enviarlas.-</b>
            </p>
            <input type='submit' value = 'Enviar'>
        </form>
</html>
